@charset "UTF-8";
thead {
	
	background-color: #4CAF50;		
}

 table th {
	padding: 15px;
	border-collapse: collapse;
	border: 1px solid #c6c8cc;
	color: white;
}

tbody tr:nth-child(even) {
	
	background-color: #e1e5eb;
	
}

td {
	border-collapse: collapse;
	border: 1px solid #c6c8cc;
	padding: 10px;
	color: black;
}

table {
	border-collapse: collapse;
}

.poista{
	color: red;
	text-decoration: underline;
	cursor: pointer;	
}

.oikealle{
	text-align: right;	
}

#uusiAsiakas, #takaisin{
	color: white;	
	cursor: pointer;	
}

#linkki{
	color: white;	
	text-decoration: none;
}
